button {
  outline: none;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
}
button:hover {
  cursor: pointer;
}

canvas {
  
}

#swatch {
  margin: 0 10px 5px 0;
}
#swatch.selected {
  border: 2px solid rgb(60, 219, 60);
}
#swatch:hover {
  cursor: pointer;
}

#background {
  margin: 0 10px 5px 0;
}
#background.editing {
  border: 2px dashed black;
}