button {
  outline: none;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  height: 30px;
}
button:hover {
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  position: absolute;
  box-sizing: border-box;
  padding: 5px 0 5px 20px;
  width: 100vw;
  height: 45px;
  background-color: #407994;
  color: #fff;
  font-size: 25px;
}

.header span {
  font-family: cursive;
}

.content-container {
  padding: 60px 0 0 0;
  display: flex;
  justify-content:  center;
  flex-direction: column;
  align-items: center;
}

.swatch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#swatch {
  margin: 0 10px 10px 0;
}
#swatch.selected {
  outline: 3px solid rgb(60, 219, 60);
}
#swatch:hover {
  cursor: pointer;
}

#background {
  margin: 0 10px 5px 0;
}
#background.editing {
  border: 2px dashed black;
}