body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

.header {
  position: fixed;
  box-sizing: border-box;
  padding: 5px 0 5px 20px;
  width: 100vw;
  height: 45px;
  background-color: #407994;
  color: #fff;
  font-size: 25px;
  z-index: 20;
}

.header span {
  font-family: cursive;
}

.contentContainer {
  padding: 60px 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr minmax(0, 1fr);
  grid-gap: 20px;
}

.canvasContainer {
  justify-self: end;
}