.swatchContainer {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: grid;
  grid-template: "a b c" auto;
  grid-gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.swatch {
  width: 70px;
  height: 70px;
}

.swatchListContainer {
    display: flex;
    flex-direction: column;
    flex-basis: min-content;
    max-width: 400px;
    height: 90vh;
    overflow: scroll;
  }