.swatchContainer {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  /* grid-template: "a b c" auto;
  grid-gap: 10px; */
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.swatch {
  width: 70px;
  height: 70px;
}

.swatchListContainer {
    display: flex;
    flex-direction: column;
    flex-basis: min-content;
    max-width: 300px;
    height: 90vh;
    overflow: scroll;
  }

  /* .swatchContainer button {
    margin-bottom: 5px;
  } */